@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Jersey+15&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Permanent+Marker&display=swap");
:root {
  --ff-header: "Jersey 15", Arial, serif;
  --ff-body: "Josefin Sans", Arial, serif;
  --ff-cell: "Indie Flower", Arial serif;
  --fs-body: 1.3rem;

  --clr-bg: black;
  --clr-text: white;
  --clr-accent: hsl(37, 98%, 70%);

  --clr-border-btn: #ffdd9d;

  --grad-player: linear-gradient(140deg, var(--clr-accent), #e4e4e4);
}
button {
  font-size: calc(var(--fs-body) - 0.3rem);
  font-weight: 600;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--clr-bg);
  color: var(--clr-text);
  font-family: var(--ff-body);
  font-size: var(--fs-body);

  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-rows: max-content 1fr 3rem;
  justify-items: center;
}
header {
  color: var(--clr-accent);
  font-family: var(--ff-header);
  font-size: calc(var(--fs-body) + 1rem);

  width: 100%;
  padding: 10px;

  text-align: center;
}
main {
  position: relative;
  place-self: center;
}

/* || SCORES */
.player-info {
  background-color: black;
  border-radius: 10% 20% 10% 10%;

  width: 12rem;
  height: 12rem;
  padding: 0 20px 10px 20px;

  display: grid;
  grid-template-rows: repeat(4, 1fr);

  position: absolute;
  right: 105%;
}
.player-info::before {
  background-image: var(--grad-player);
  border-radius: 10%;

  width: 102%;
  height: 102%;

  content: "";

  display: block;
  position: absolute;
  top: -1%;
  left: -1%;
  z-index: -1;
}
.player-info h3 {
  font-family: var(--ff-header);
  font-size: calc(var(--fs-body) + 1rem);
  color: var(--clr-accent);

  padding: 10px;

  text-align: center;
}
.player-info p {
  display: flex;
  justify-content: space-between;
}
.player-info button {
  background-color: var(--clr-accent);
  border: 2px solid var(--clr-border-btn);
  border-radius: 4px;

  padding: 0.25em 0.5em;
  place-self: center;
}

/* || BOARD */
.board {
  background: var(--grad-player);
  border-radius: 10%;

  width: 610px;
  height: 610px;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;

  box-sizing: content-box;
}
.cell {
  background-color: rgba(0, 0, 0, 0);
  font-size: 15rem;
  font-family: var(--ff-cell);
  color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px;

  transition: color 0.5s, transform 0.5s;
  cursor: pointer;
}
.cell-bg {
  width: 200px;
  height: 200px;
  background-color: black;
}
.cell-bg:nth-child(1) {
  border-radius: 30% 0 0 0;
}
.cell-bg:nth-child(3) {
  border-radius: 0 30% 0 0;
}
.cell-bg:nth-child(7) {
  border-radius: 0 0 0 30%;
}
.cell-bg:nth-child(9) {
  border-radius: 0 0 30% 0;
}

/* || FOOTER */
footer {
  font-family: var(--ff-header);
}
a:any-link {
  text-decoration: none;
  color: var(--clr-accent);
}
a:hover {
  filter: brightness(200%);
}

/* || MODALS  */

.hidden {
  display: none;
}
.modals {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(128, 128, 128, 0.329);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modals > * {
  background-color: var(--clr-bg);
  border: 5px double var(--clr-accent);
  border-radius: 10px;

  width: 400px;
  height: 300px;

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
}
.modals > * > button {
  background-color: var(--clr-accent);
  padding: 0.2em 0.5em;
  border-radius: 5px;
  border: 2px solid var(--clr-bg);
  cursor: pointer;
}
.modals > * > button:hover {
  border: 2px solid var(--clr-accent);
  background-color: var(--clr-border-btn);
}
.new-name-modal {
  position: relative;
  justify-content: space-between;
  padding: 20px;
}
.new-name-modal .cn-cancel {
  position: absolute;
  right: 5%;
  font-family: var(--ff-header);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: rgb(66, 66, 66);
}
label {
  position: relative;
}
label > span {
  position: absolute;
  bottom: 105%;
  left: 0;
  font-size: calc(var(--fs-body) - 20%);
  font-weight: 800;

  transition: color 1s;
}
input {
  background-color: rgb(88, 88, 88);
  border-bottom: 5px solid var(--clr-accent);
  border-radius: 5px;
  color: var(--clr-text);
  font-style: var(--fs-body);
  font-weight: 600;
  border: none;

  padding: 5px;
  background-image: linear-gradient(
    90deg,
    var(--clr-accent),
    var(--clr-accent)
  );
  background-size: 100% 0;
  background-position: bottom;
  background-repeat: no-repeat;
  transition: background 0.25s, color 1s;
}
input:active,
input:focus,
input:hover {
  background-size: 100% 100%;
  color: black;
}
label:active,
label:focus,
label:focus-within,
label:hover {
  color: var(--clr-accent);
}

.hidden {
  display: none;
}
